footer {
  background-color: adjust-color($color: $color-footer, $lightness: 23%);
  height: 14rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer-nav {
      margin-top: 1.7rem;

      ul {
        display: flex;
        gap: 3.4rem;

        a {
          color: transparentize($color: $color-graphic-design-text, $amount: .3);

          &:active {
            color: $color-white;
          }
        }
      }
    }

    .social-medias {
      margin-top: 3.4rem;
      display: flex;
      gap: 1.8rem;

      img {
        cursor: pointer;

        &:active {
          filter: brightness(0) saturate(100%) invert(93%) sepia(0%) saturate(27%) hue-rotate(78deg) brightness(106%) contrast(108%);
        }
      }
    }

    img {
      filter: brightness(0) saturate(100%) invert(28%) sepia(15%) saturate(1297%) hue-rotate(116deg) brightness(96%) contrast(92%);
    }

    .logo {
      width: 8.5rem;
    }
  }

  .attribution-container {
    display: flex;
    align-items: center;
    padding: .5rem 0;

    a {
      color: $color-graphic-design-text;
      font-weight: 700;
    }
  }
}

@media (max-width: $large-mobile-width) {
  footer .footer-content {
    width: 100%;

    nav {
      width: 100%;
    }

    .footer-nav ul {
      width: 100%;
      gap: 0;
      display: flex;
      justify-content: space-evenly;
    }

    .logo {
      width: 6rem;
    }
  }
}