
header {
  min-height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 1.2rem 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;

  nav {
    li {
      padding: 1rem 1.5rem;
    }

    a {
      color: $color-white;
    }
  }

  .desktop-nav-items {
    display: flex;

    .main-nav-item {
      @include fontFraunces();
      background-color: $color-white;
      border-radius: 50px;
      margin: 0 .8rem;
      cursor: pointer;

      &:active {
        background-color: transparentize($color: $color-white, $amount: 0.7);

        a {
          color: $color-white;
        }
      }

      a {
        color: black;
        text-transform: uppercase;
      }
    }
  }

  .page-title {
    @include fontFraunces();
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: .4rem;
    text-transform: uppercase;
    color: $color-white;
  }

  .icon-arrow-down {
    width: 1.8rem;
  }
}
