
header {
  min-height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 1.2rem 1.6rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;

  nav {
    li {
      padding: 1rem 1.5rem;
    }

    a {
      color: $color-white;
    }
  }

  .desktop-nav-items {
    display: flex;

    .main-nav-item {
      @include fontFraunces();
      background-color: $color-white;
      border-radius: 50px;
      margin: 0 .8rem;
      cursor: pointer;

      &:active {
        background-color: transparentize($color: $color-white, $amount: 0.7);

        a {
          color: $color-white;
        }
      }

      a {
        color: black;
        text-transform: uppercase;
      }
    }
  }

  .page-title {
    @include fontFraunces();
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: .4rem;
    text-transform: uppercase;
    color: $color-white;
  }

  .icon-arrow-down {
    width: 1.8rem;
  }
}

.mobile-nav-menu {
  position: absolute;
  width: calc(100% - 2 * 1.6rem);
  top: 5.5rem;
  left: 1.6rem;
  background-color: $color-white;
  padding: 2rem;

  .mobile-nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    position: relative;
    
    a {
      color: $color-paragraph;
    }

    .main-nav-item {
      @include fontFraunces();
      background-color: $color-yellow;
      border-radius: 50px;

      a {
        color: black;
        text-transform: uppercase;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: -1.5rem;
    right: 0;
    border-width: 1rem;
    border-style: solid;
    border-color: transparent $color-white $color-white transparent;
  }
}

@media (max-width: 789px) {
  header {
    .page-title {
      font-size: 2.8rem;
    }
  }
}

@media (max-width: $pre-large-mobile-width) {
  header {
    .page-title {
      font-size: 2rem;
    }

    nav {
      li:not(.main-nav-item) {
        padding: 1rem .6rem;
      }
    }
  }
}

@media (max-width: $large-mobile-width) {
  header {
    background-image: url("../images/mobile/image-header.jpg");

    .desktop-nav-items {
      display: none;
    }

    .page-title {
      text-align: center;
    }

    nav {
      li:not(.main-nav-item) {
        padding: 1rem .6rem;
      }
    }
  }

  .mobile-nav-menu-container {
    display: initial;
  }
}
