@import "./reset.scss";

:root {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.mobile-image, .mobile-nav-menu-container {
  display: none;
}
